/* Global CSS variables */
:root {
  /* Color palette */
  --primary-color: #283659;
  --secondary-color: #d8b9a3;
  --accent1-color: #00bad9;
  --accent2-color: #724437;
  --accent3-color: #a66e55;

  /* Fonts */
  --font-family: "Raleway", sans-serif;
  --primary-heading-size: 2.5rem;
  --primary-heading-weight: 800;
  --secondary-headings-size: 1.5rem;
  --secondary-heading-weight: 600;
  --paragraph-size: 1rem;
  --paragraph-weight: 100;

  /* Elements colors */
  --background-color: white;
  --heading-color-on-white: black;
  --heading-color-on-color: #d8b9a3;
  --paragraph-color-on-white: black;
  --paragraph-color-on-color: #black;
  --nav-link-color: #d8b9a3;
  --nav-background-color: #283659;
  --nav-hover-color: #d8b9a3;
  --nav-hover-background-color: #00bad9;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
}

/* set default font and spacing */
html {
  font-family: var(--font-family);
  font-size: 120%;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
}

h1 {
  font-weight: var(--primary-heading-weight);
  font-size: var(--primary-heading-size);
}

h2 {
  font-weight: var(--secondary-heading-weight);
  font-size: var(--secondary-headings-size);
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
}

p {
    line-height: 1.2rem;
}

hr {
  margin: 2rem 1rem ;
  border: 2px solid var(--accent3-color);
}

.header-title {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--heading-color-on-color);
}

.section {
    display: flex;
    flex-direction: column;
}

.section h2 {
    align-self: center;
}

.overview-card {
    border: 1px solid black;
    border-radius: 4px;
    margin: .5rem 0 1rem 0;
    padding: .5rem 1rem;
}

.overview-card ul li {
    padding-bottom: 1rem;
}

.color-schema {
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem;
}

.colors-table {
  margin: 1rem 0 3rem 0;
  border-radius: 8px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 8px;
}

.table-cell {
  width: 60%;
  outline: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;

  font-weight: 600;
  font-size: .9rem;
}

.table-cell.primary {
    background-color: var(--primary-color);
    color: white;
}

.table-cell.secondary {
    background-color: var(--secondary-color);
}

.table-cell.accent-1 {
    background-color: var(--accent1-color);
}

.table-cell.accent-2 {
    background-color: var(--accent2-color);
    color: white;
}

.table-cell.accent-3 {
    background-color: var(--accent3-color);
}

.typography-section {
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 2rem;
    padding: 1rem;
}

.typography-section hr {
    margin: 0;
    border: 1px solid var(--accent1-color);
}

.main-heading {
    margin-bottom: 2rem;
}

.heading-on-light {
    text-align: center;
    border-radius: 8px;
    border: 1px solid black;
    color: var(--heading-color-on-white);
    margin-bottom: 1rem;
}

.heading-on-dark {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--heading-color-on-color);
}

.paragraph-on-light {
    border: 1px solid black;
    border-radius: 8px;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.paragraph-on-dark {
    border: 1px solid transparent;

    border-radius: 8px;
    padding: 0 1rem;
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color);
}