@media screen and (min-width: 1024px) {
  html {
    font-size: 120%;
  }

  /* Header and nav */
  header {
    width: fit-content;
    margin: 0 auto;
  }

  nav {
    background-color: var(--primary-color);
    margin-top: 0.2rem;
  }

  nav ul {
    width: 70%;
    margin: 0 auto;
  }

  /* Hero Section */
  .hero-container {
    width: 60%;
    margin: 1rem auto;
  }

  .hero-container img {
    object-fit: cover
  }

  /* Main Section */
  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* FORM */
  form {
    width: 50%;
  }
  
  form label.top input,
  form label.top textarea {
    max-width: 30rem;
    padding: .95rem;
  }

  /* Footer Section */
  .site-footer {
    justify-content: center;
    gap: 60px;
  }

  header,
  nav,
  footer {
    min-width: 1024px;
  }
}
