:root {
    --blue: #38dbff;
    --orange: #ffb443;
    --red: #ff5d5d;
    --yellow: #fff503;
    --green: #00ff75;
    --purple: #dd7dff;
    --black: #000000;
    --white: #ffffff;
}

html {
    font-size: 110%;
}

body {
    all: unset;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

header {
    display: block;
    background-color:#38dbff;
    border-radius: 4px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 1.5rem;
    padding: .5rem 2rem .5rem 2rem;
}

#profile-picture {
    width: 8rem;
    filter: contrast(130%);
}

.menu-button-container {
    background-color:black;
    border-radius: 4px;
    display: flex;
    width: 50px;
    justify-content: center;
    margin: 0 0 auto auto;
}

.menu-button {
    width: 40px;
    text-align: right;
}
    
nav {
    font-family: 'Fira Mono', monospace;
    background-color: #000000;
    display: none;
}

nav.show {
    display: block;
}

nav ul {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
	display: flex;
    flex-direction: column;
	text-align: center;
    padding: .5rem 0;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 1px solid var(--blue);
    color: var(--blue);
}

nav a:focus {
    color: var(--white)
}

h1, h2 {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.title-container {
    border-bottom: 1px solid #000000;
}

.title {
    text-align: center;
}

main {
    background-color: var(--white);
    padding: 2rem 0 3rem 0;
    display: grid;
}

main, header, nav a{
    max-width: 900px;
    margin: 0 auto;
    border-radius: 4px;
}

.card {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 1rem auto;
}

.card h3 {
    background-color: var(--blue);
    padding: 1rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}

.card ul {
	list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.card div {
    margin: 1.5rem auto;
    width: fit-content;
}

footer {
    background-color: var(--black);
    border-radius: 4px;
    padding: 1rem 0;
}

footer p {
    text-align: center;
    color: var(--white);
}
