:root {
    /* Color palette*/
    --primary-color: #92dbdb;
    --secondary-color: #84B026;
    --accent1-color: #3D3D3D;
    --accent2-color: #173540;
    --accent3-color: #161F30;

    /* Fonts */
    --header-font: "Inter", sans-serif;
    --paragraph-font: "Inter", sans-serif;
    --nav-font: 'Fira Mono', monospace;
    --primary-heading-size: 2.5rem;
    --primary-heading-weight: 800;
    --secondary-headings-size: 1.5rem;
    --secondary-heading-weight: 600;
    --paragraph-size: 1rem;
    --paragraph-weight: 100;
  

    /* Elements colors */

    /* Breakpoints */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;

}

/* set default font */
html {
    font-size: 110%;
}

body {
    font-family: var(--paragraph-font);
    color: black;
}

h1, h2 {
    font-family: var(--header-font);
    margin: 0;
}

h1 {
    font-weight: var(--primary-heading-weight);
}

h2 {
    font-weight: var(--secondary-heading-weight);
}

h3 {
    font-weight: 500;
}

/* Header Section*/
header {
    background-color: var(--accent3-color);
    border-radius: 4px;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: .5rem 2rem .5rem 2rem;
    position: relative;
    color: white;
}

.dark-mode-container {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.dark-light-button {
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 40px;
    border-radius: 4px;
    border: none;
}

#profile-picture {
    width: 8rem;
    filter: contrast(130%);
}

.menu-button-container {
    border-radius: 4px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    margin: .2rem auto;
}

.menu-button {
    background-color: var(--accent3-color);
    color: white;
    border-radius: 4px;
}
/* END of Header Section*/
    
/* Navigation Section */
nav {
    font-family: var(--nav-font);
    background-color: var(--primary-color);
    margin: 1rem auto;
    display: none; /* Nav hidden until button clicked*/
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.show {
    display: block;
}

nav a {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem 0;
    text-decoration: none;
    border-bottom: 1px solid var(--accent3-color);
    color: var(--accent3-color);
}

nav a:focus {
    color: white;
}
/* END of Navigation Section*/

/* Main Section */
.hero-container {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
}

.hero-label {
    font-size: 1.2rem;
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 10%;
    background-color: var(--accent3-color);
    color: white;;
    padding: .5rem;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 1px 6px white;
}

.hero-container picture {
    width: 100%;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

.title-container {
    background-color: var(--primary-color);
    border-radius: 4px;
    border-bottom: 1px solid var(--accent3-color);
    margin-bottom: .5rem;
}

.title-container.dark-mode {
    background-color: black;
}

.title {
    text-align: center;
    padding: .5rem 0;
}

main {
    padding: 1rem 0 0 0;
    display: grid;
}

main.dark-mode {
    background-color: black;;
    color: white;
}

main, header, nav a{
    max-width: 960px;
    margin: 0 auto;
    border-radius: 4px;
}

.card {
    width: 100%;
    background-color: var(--primary-color);
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 auto 1rem auto;
}


.card.dark-mode {
    background-color: black;
    border: 1px solid var(--accent3-color);
    color: white;
}

.card.dark-mode a {
    color: white;
}

.card h3 {
    background-color: var(--accent3-color);
    color: white;
    padding: 1rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.card ul {
	list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.card ul>li {
    line-height: 1.5rem;
}

.card div {
    margin: 1.5rem auto;
    width: fit-content;
}

.card a {
    text-decoration: none;
    color: black;
}

.weather {
    display: flex;
    align-items: center;
}

#weather-info {
    text-transform: capitalize;
}

.location-frame-container {
    max-width: 960px;
    margin: 1rem auto;
}

.location-frame {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

footer {
    background-color: var(--accent3-color);
    border-radius: 4px;
    padding: 1rem 0;
}

footer p {
    text-align: center;
    color: white;
}
